mixin printVideos(video)
    a(href=`/videos/${video.id}`)=video.title
    ul 
        li=video.createdAt
        li=video.views
        li=video.rating + "/ 5"
        li=video.createdAt
        each hashtag in video.hashtags
            span=hashtag